<header>
  <h1 id="logo"><a href="/">NUMTHREE</a></h1>
  <div id="menubar">
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li>
          <a href="/service">SERVICE</a>
          <ul>
            <li><a href="/yomitia">朗読アプリ「読みティア」</a></li>
          </ul>
        </li>
        <li><a href="/team">TEAM</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
    <div class="sh"></div>
  </div>
</header>
