<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <meta http-equiv="refresh" content="3;URL=https://numthree.net/" />

  <body>
    <div id="container">
      <%- include("./partials/header.ejs") %>
      <header>
        <h1 id="logo"><a href="/">NUMTHREE</a></h1>
        <div id="menubar">
          <nav>
            <ul>
              <li><a href="/">HOME</a></li>
              <li>
                <a href="/service">SERVICE</a>
                <ul>
                  <li><a href="/yomitia">朗読アプリ「読みティア」</a></li>
                </ul>
              </li>
              <li><a href="/team">TEAM</a></li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>
          </nav>
          <div class="sh"></div>
        </div>
      </header>
      <div id="contents">
        <main>
          <section>
            <h2>送信完了<span class="hosoku">Contact</span></h2>
            <p>送信が完了しました。3秒後に戻ります。</p>
          </section>
        </main>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
