<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>

  <body>
    <div id="container">
      <%- include("./partials/header.ejs") %>
      <div id="contents">
        <main>
          <section>
            <h2 class="c">
              <span class="fade-in-text">Service</span
              ><span class="hosoku">サービスのご案内</span>
            </h2>
            <div class="list-grid1">
              <div class="list">
                <figure><img src="/images/sample1.jpg" alt="" /></figure>
                <div class="text">
                  <h4>朗読アプリ「読みティア」</h4>
                  <p>青空文庫の5000作品を聞き放題！</p>
                </div>
                <p class="btn"><a href="/yomitia">詳しくみる</a></p>
              </div>
            </div>
          </section>
        </main>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
