<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <body>
    <main>
      <div id="container">
        <%- include("./partials/header.ejs") %>
        <div id="contents">
          <section>
            <h2>チーム概要</h2>
            <table class="ta1">
              <caption>
                TEAM DESCRIPTION
              </caption>
              <tr>
                <th>商号</th>
                <td>NUMTHREE（ナムスリー）</td>
              </tr>
              <tr>
                <th>住所</th>
                <td>
                  〒812-0011<br />福岡県福岡市博多区博多駅前1丁目23番2号ParkFront博多駅前1丁目5F-B
                </td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td>info@numthree.net</td>
              </tr>
              <tr>
                <th>担当</th>
                <td>内村</td>
              </tr>
            </table>
          </section>
        </div>
        <%- include("./partials/footer.ejs") %>
      </div>
    </main>
  </body>
</html>
